
<h2 style="padding-top: 60px;">
  Lista książek w bibliotece:
</h2>
<div class="table-responsive table-hover">
  <table style="cursor: pointer;" class="table table-striped table-sm">
    <thead>
      <tr>
        <th>Id</th>
        <th>Tytuł</th>
        <th>Autorzy</th>
        <th>Kategoria</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let bookDef of booksDefinitions" (click)="goToBookDetails(bookDef)">
        <td>{{bookDef.id}}</td>
        <td>{{bookDef.title}}</td>
        <td>
          <ng-container *ngFor="let auth of bookDef.authors">
            <span *ngFor="let firstName of auth.firstNames">
              {{firstName}}
            </span>
            {{auth.lastName}}
            <br>
          </ng-container>
        </td>
        <td><span *ngFor="let cat of bookDef.categories" class="badge badge-pill badge-secondary mr-1">{{cat}}</span></td>
      </tr>
    </tbody>
  </table>
</div>