.sidebar{
    width: 180px;
    position: fixed;
    top: 0px;
    left: 0px;
}

ul{
    list-style: none;
    padding-left: 0px;

    li{
        text-transform: uppercase;
        font-weight: 700;
        background: darkolivegreen;
        padding: 10px;
        border-bottom: 1px solid;
    }

    li:hover{
        background: lightgreen;
    }

    li:active{
        background: green;
    }
}